<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schedule App</title>
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><h2>학급 일정 알림표</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="d-flex">
            <li class="nav-item">
              <button id="dark-mode-toggle" class="btn btn-warning form-control me-2 nav-link active" aria-current="page">다크 모드</button>
            </li>
          </div class="d-flex">
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h1 class="mt-5">학급 일정 알림표</h1>
    <a href="/new" class="btn btn-primary mb-3">일정 추가하기</a>
    <div class="list-group">
      <% schedules.forEach(function(schedule) { %>
        <form action="/delete" method="post">
          <div class="list-group-item list-group-item-action <%= (new Date().getMonth() === new Date(schedule.deadline).getMonth() && new Date().getDate() === new Date(schedule.deadline).getDate()) ? 'list-group-item-danger' : '' %>">
            <h5 class="mb-1">
              <%= schedule.title %>
            </h5>
            <h6 class="mb-1">
              <%= schedule.writer %>
            </h6>
            <p class="mb-1">
              <%= schedule.content %>
            </p>
            <small>마감일: <%= new Date(schedule.deadline).toLocaleDateString() %></small>
            <input type="text" class="form-control" id="id" name="id" value="<%= schedule.id %>" style="display: none;" />
            <button type="submit" class="btn btn-primary">삭제</button>
          </div>  
        </form>
        <% }) %>
    </div>
  </div>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/js/script.js"></script> 
</body>

</html>